<!-- this is for add to cart-->
<script>
    $(document).on('click', '.manish-add-to-cart', function() {
        
        var productId = $(this).data('id');
        var productQty = $(this).data('qty');
        var productSize = $(this).data('size');
        $.ajax({
            url: "{% url 'home:add_to_cart' %}",
            method: "POST",
            data: {
                'product_id': productId,
                'qty':productQty,
                'size':productSize,
            },


            success: function(response) {
                var final_cart_count = parseInt(response.final_cart_count);

                $('#change-cart-message').empty();
                $('#change-cart-message').append(
                    `<span> <i class="fa fa-check"></i> Bag Filled - <span class="cssloader"></span> Taking You Back</span>`
                );
                $('.cart-count').empty();
                $('.cart-count').append(
                    `
                       <i class="icon icon-bag"></i><span class="count-box">${final_cart_count}</span>   
                    `
                );

                
                
                var load = setTimeout(function() {
                    $('#quick_add').modal('hide'); 
                }, 1200);
            }
        });
    });
</script>

<!-- this is for quick add -->
<script>
    $(document).on('click', '.quick-add', function() {
        var productId = $(this).data('id');
        $.ajax({
            url: "{% url 'home:quick_add_product' %}",
            method: "POST",
            data: {
                'product_id': productId,
            },
            success: function(response) {
                $('#quick_add').html(response.html);  // Corrected this line
                $('#quick_add').modal('show');  // Corrected this line
            }
        });
    });
</script>


<!-- checking stock -->
 <script>
    var btnQuantity = function () {
    $(document).on('click', '.minus-btn', function(e) {
      e.preventDefault();
      var $this = $(this);
      var $input = $this.closest("div").find("input");
      var value = parseInt($input.val());
      
      var productId = $(this).data('id');
      $.ajax({
            url: "{% url 'home:stock_check_ajax' %}",
            method: "POST",
            data: {
                'product_id': productId,
                
            },
            success: function(response) {
                var x = parseInt(response.stock);
                var price = parseFloat(response.price)
                
                
                if (value > 1) {
                    value = value - 1;
                    price = (price * value).toFixed(2);
                    $input.val(value);
                    $('.manish-add-to-cart').attr("data-qty",value); 
                    $('.manish-add-to-cart-view').attr("data-qty",value); 
                    $('#view_quantity').val(value); 
                    
                    $('#qa-price').html(price);
                    $('#qv-price').html(price);
                    $('#change-cart-message').empty()
                    $('#change-cart-message').append(
                        `<span> <i class="fa fa-check"></i> Item Added In Cart</span>`
                    );
                    
                }
                

            }
        });
    });  
 
    //plus

    $(document).on('click', '.plus-btn', function(e) {
      e.preventDefault();
      var $this = $(this);
      var $input = $this.closest("div").find("input");      
      var value = parseInt($input.val());
      
      var productId = $(this).data('id');
      $.ajax({
            url: "{% url 'home:stock_check_ajax' %}",
            method: "POST",
            data: {
                'product_id': productId,
            },
            success: function(response) {
                var x = parseInt(response.stock);
                var price = parseFloat(response.price)
                
                
                if (value < x){
                    if (value > 0) {
                        value = value + 1;
                        price = (price * value).toFixed(2)
                        $input.val(value);
                        $('.manish-add-to-cart').attr("data-qty",value);
                        $('.manish-add-to-cart-view').attr("data-qty",value);
                        $('#view_quantity').val(value); 
                        $('#qa-price').html(price);
                        $('#qv-price').html(price);
                    }
                    
                }
                

            }
        });
    });
  
    $(document).on('click', '.minus-btn2', function(e) {
     e.preventDefault();
     alert('abc')
     var $this = $(this);
     var $input = $this.closest("div").find("input");
     var value = parseInt($input.val());
     
     var productId = $(this).data('id');
     $.ajax({
           url: "{% url 'home:cart_data_alter' %}",
           method: "POST",
           data: {
               'product_id': productId,
               'value':value,
               'operate':'minus'
               
           },
           success: function(response) {
                var new_subtotal = parseFloat(response.new_subtotal).toFixed(2);
                var quantity = parseInt(response.quantity);
                var mynumber = response.mynumber;
                var total = response.total;
                $(mynumber).val(quantity);
                $(total).html("₹"+new_subtotal);
           
           }
       });
   });  

   //plus

   $(document).on('click', '.plus-btn2', function(e) {
     e.preventDefault();
     var $this = $(this);
     var $input = $this.closest("div").find("input");      
     var value = parseInt($input.val());
     
     var productId = $(this).data('id');
     $.ajax({
           url: "{% url 'home:cart_data_alter' %}",
           method: "POST",
           data: {
               'product_id': productId,
               'value':value,
               'operate':'plus'
           },
           success: function(response) {
                var new_subtotal = parseFloat(response.new_subtotal).toFixed(2);
                var quantity = parseInt(response.quantity);
                var mynumber = response.mynumber;
                var total = response.total;
                $(mynumber).val(quantity);
                $(total).html("₹"+new_subtotal);
               
            }
       });
   });
 };

 </script>

<!-- adding sizes -->
<script>
    $(document).on('click', '.size-label', function() {
        var size = $(this).data('size');
        $('.manish-add-to-cart').attr("data-size",size); 
        $('.manish-add-to-cart-view').attr("data-size",size); 
        $('#view_size').val(size); 
        
    });
</script>


