
<div class="card-product style-4" data-price="16.95" data-color="orange black white">
    <div class="card-product-wrapper">
        
        <a href="#" class="product-img">
            <img class="lazyload img-product"
             data-src="{{ie.featured_image.url}}" 
             src="{{ie.featured_image.url}}" alt="image-product">
            <img class="lazyload img-hover" 
            data-src="{{ie.featured_image.url}}" 
            src="{{ie.featured_image.url}}" alt="image-product">
        </a>

        <div class="list-product-btn column-right">
            <a href="javascript:void(0);" data-id="{{ie.id}}" class="box-icon wishlist bg_white round btn-icon-action wish{{ie.id}}">
                <span class="icon icon-heart"></span>
                <span class="tooltip">Add to Wishlist</span>
                <span class="icon icon-delete"></span>
            </a>
           
            <a href="#quick_view" data-bs-toggle="modal" data-id="{{ie.id}}" class="box-icon quickview bg_white round tf-btn-loading">
                <span class="icon icon-view"></span>
                <span class="tooltip">Quick View</span>
            </a>
        </div>

        <div class="size-list">
            
            {% for i in ie.size.all %}
                <span>{{i}}</span>
            {% endfor %}
                
           
        </div>

        
        {% if ie.timer %}
        <div class="countdown-box">
            <div class="js-countdown" data-timer="{{ie.timer}}" data-labels="d :,h :,m :,s"></div>
        </div>
        {% endif %}
            


        <a href="#quick_add" data-bs-toggle="modal" data-id="{{ie.id}}" class="btn-quick-add quick-add">QUICK ADD</a>
    </div>


    <div class="card-product-info">
        <a href="{% url 'home:product_detail' ie.slug %}" class="title link">{{ie.name}}</a>
        <span class="price">₹{{ie.price}}</span>
        <ul class="list-color-product">
          
            
            {% for i in ie.color.all  %}
            <li class="list-color-item color-swatch active">
                <span class="tooltip">{{i.name}}</span>
                <span class="swatch-value" style="background: {{i.color.code}};"></span>
                <img class="lazyload" 
                data-src="{{i.featured_image.url}}" 
                src="{{i.featured_image.url}}" alt="image-product">
            </li>
            {% endfor %}
                
          
           
        
        </ul>
    </div>
</div>