{% extends 'base.html' %}
{% load static %}

{% block header %}

{% endblock header %}

{% block css %}
    
{% endblock css %}
    


{% block body %}
    <!-- Slider -->
    <section class="tf-slideshow about-us-page position-relative">
        <div class="banner-wrapper">
            <img class="lazyload" src="{% static 'look7.png' %}" 
            data-src="{% static 'look7.png' %}" alt="image-collection">
            <div class="box-content text-center">
                <div class="container">
                    <div class="text text-white">Where Timeless Craftsmanship   <br> 
                        Meets  Modern Sophistication</div>
                </div>
            </div>
        </div>
    </section>
    <!-- /Slider -->
    <!-- flat-title -->
    <section class="flat-spacing-9">
        <div class="container">
            <div class="flat-title my-0">
                <span class="title" style="font-size: 3rem; font-weight: bold;">We Are Koxari</span>
                <p class="sub-title text_black-2" style="font-size: 1.3rem; line-height: 1.8;">
                    Welcome to Koxari, a brand that celebrates the perfect fusion of heritage and modernity. Every piece we create reflects a commitment to excellence, 
                    where artistry and design come together to craft more than just clothing—each item tells a story of sophistication and purpose. Inspired by 
                    enduring values, we design for individuals who seek luxury not in trends, but in quality that stands the test of time. 
                </p>
                <p class="sub-title text_black-2" style="font-size: 1.3rem; line-height: 1.8;">
                    At Koxari, we believe that true elegance lies in the details. From the careful selection of sustainable materials to the precise craftsmanship 
                    that goes into every stitch, our collections embody a quiet confidence that resonates with those who value refinement. We cater to discerning 
                    individuals who understand that style is an expression of their identity—a reflection of grace and poise. 
                </p>
                <p class="sub-title text_black-2" style="font-size: 1.3rem; line-height: 1.8;">
                    Join us on a journey where each garment is designed not just to be worn, but to be cherished for generations. Welcome to the world of Koxari—crafted 
                    for those who appreciate the art of understated luxury and the beauty of timeless design.
                </p>
            </div>
            
            
        </div>
    </section>
    <!-- /flat-title -->
    <div class="container"><div class="line"></div></div>
    <!-- image-text -->
    <section class="flat-spacing-23 flat-image-text-section">
        <div class="container">
            <div class="tf-grid-layout md-col-2 tf-img-with-text style-4">
                <div class="tf-image-wrap">
                    <img class="lazyload w-100" data-src="{% static 'about1.png' %}" 
                    src="{% static 'about1.png' %}" alt="collection-img" style="border-radius: 20px;">
                </div>
                <div class="tf-content-wrap px-0 d-flex justify-content-center w-100">
                    <div>
                        <div class="heading">Established - 2024</div>
                        <div class="text">
                            <p  style="font-size: 1.3rem; line-height: 1.8;">
                                Koxari was founded in 2024 with a vision to redefine luxury by embracing the essence of old-school craftsmanship. <br class="d-xl-block d-none">
                            Though newly established, Koxari draws inspiration from timeless traditions and the heritage of meticulous design. <br class="d-xl-block d-none">
                            Each piece in our collection is crafted to capture the soul of classic elegance while meeting the expectations of the modern connoisseur. <br class="d-xl-block d-none">
                            Don’t miss your chance to own what’s destined to become the hallmark of sophisticated wardrobes worldwide— <br class="d-xl-block d-none">
                           
                            </p>
                            <p class="mt-2"  style="font-size: 1.3rem; line-height: 1.8;">
                                Koxari is for those who seek exclusivity and value a legacy in the making.
                            </p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    <section class="flat-spacing-15">
        <div class="container">
            <div class="tf-grid-layout md-col-2 tf-img-with-text style-4">
                <div class="tf-content-wrap px-0 justify-content-center w-100">
                    <div>
                        <div class="heading">Our Mission</div>
                        <div class="text"  style="font-size: 1.3rem; line-height: 1.8;">
                            <p>
                                Our mission is to craft luxury fashion that resonates with heritage, sophistication, and sustainability. <br class="d-xl-block d-none">
                            </p>
                            <p class="mt-3">
                                We aim to create timeless pieces that not only inspire confidence and elegance but also uphold <br class="d-xl-block d-none">
                                the values of responsible craftsmanship.    
                            
                            </p>
                        </div>
                    </div>
                    
                    <div>
                        <div class="heading pt-4">Our Vision</div>
                        <div class="text"  style="font-size: 1.3rem; line-height: 1.8;">
                            <p>
                                Our vision is to become a global symbol of understated luxury, where tradition meets innovation. <br class="d-xl-block d-none">
                    
                            </p>
                            <p class="mt-3">
                                We aspire to be the brand of choice for those who value refined elegance and sustainable practices. <br class="d-xl-block d-none">
                               
                            </p>
                            <p class="mt-3">
                                Through our collections, we envision creating a legacy of sophistication, empowering individuals to <br class="d-xl-block d-none">
                                express their unique identity while cherishing the artistry behind each creation.
                        
                            </p>
                        </div>
                    </div>
                     
                </div>
                <div class="grid-img-group">
                    <div class="tf-image-wrap box-img item-1">
                        <div class="img-style">
                            <img class="lazyload" src="{% static 'look11.png' %}" 
                            data-src="{% static 'look11.png' %}" alt="img-slider" style="border-radius: 20px;">
                        </div>
                    </div>
                    <div class="tf-image-wrap box-img item-2">
                        <div class="img-style">
                            <img class="lazyload" 
                            src="{% static 'look10.png' %}" 
                            data-src="{% static 'look10.png' %}" alt="img-slider" style="border-radius: 20px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /image-text -->
    <!-- iconbox -->
    <section>
        <div class="container">
            <div class="bg_grey-2 radius-10 flat-wrap-iconbox">
                <div class="flat-title lg">
                    <span class="title fw-5">Craftsmanship is Our Promise</span>
                    <div>
                        <p class="sub-title text_black-2">At Koxari, every detail matters. We take pride in creating pieces <br class="d-xl-block d-none">
                        that embody elegance, sophistication, and superior quality.</p>
                        <p class="sub-title text_black-2">Our designs are a celebration of artistry and precision, tailored to inspire timeless style.</p>
                    </div>
                </div>
                <div class="flat-iconbox-v3 lg">
                    <div class="wrap-carousel wrap-mobile">
                        <div dir="ltr" class="swiper tf-sw-mobile" data-preview="1" data-space="15">
                            <div class="swiper-wrapper wrap-iconbox lg">
                                <div class="swiper-slide">
                                    <div class="tf-icon-box text-center">
                                        <div class="icon">
                                            <i class="icon-materials"></i>
                                        </div>
                                        <div class="content">
                                            <div class="title">Finest Materials</div>
                                            <p class="text_black-2">Our garments are crafted using the most exquisite and sustainable materials, ensuring unmatched quality and comfort in every piece.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="tf-icon-box text-center">
                                        <div class="icon">
                                            <i class="icon-design"></i>
                                        </div>
                                        <div class="content">
                                            <div class="title">Elegant Design</div>
                                            <p class="text_black-2">Our designs marry heritage with contemporary elegance, delivering a style that transcends trends and speaks to enduring sophistication.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="tf-icon-box text-center">
                                        <div class="icon">
                                            <i class="icon-sizes"></i>
                                        </div>
                                        <div class="content">
                                            <div class="title">Inclusive Fit</div>
                                            <p class="text_black-2">Designed for all, our collections celebrate individuality with sizes and fits that complement diverse shapes and preferences.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sw-dots style-2 sw-pagination-mb justify-content-center"></div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
    <!-- /iconbox -->
    <div class="container"><div class="line"></div></div>
    


    
<!-- Seller -->
<section class="flat-spacing-5 pt_4 flat-seller">
    <div class="container">
        <div class="flat-title">
            <span class="title wow fadeInUp" data-wow-delay="0s">Shop Our Best Seller</span>
            <p class="sub-title wow fadeInUp" data-wow-delay="0s">Shop the Latest Styles: Stay ahead of the curve with our newest arrivals</p>
        </div>
        <div class="grid-layout loadmore-item wow fadeInUp" data-wow-delay="0s" data-grid="grid-4">
           
            <!-- card product 2 -->
            {% for ie in best_seller.all %}
                {% include 'product_style1.html' %}
            {% endfor %}
                
            
        </div>
        <div class="tf-pagination-wrap view-more-button text-center">
            <a href="{% url 'home:product' %}" class="tf-btn style-2 btn-fill rounded-full animate-hover-btn"><span class="text">View All Products</span></a>
        </div>
    </div>
</section>
<!-- /Seller -->
    
  <!-- Testimonial -->
  <section class="flat-testimonial-v2 flat-spacing-24">
    <div class="container">
        <div class="wrapper-thumbs-testimonial-v2 flat-thumbs-testimonial">
            <div class="box-left">
                <div dir="ltr" class="swiper tf-sw-tes-2" data-preview="1" data-space-lg="40" data-space-md="30">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="testimonial-item lg lg-2">
                                <h4 class="mb_40">Our Customer’s Reviews</h4>
                                <div class="icon">
                                    <img class="lazyload" data-src="images/item/quote.svg" alt="" src="images/item/quote.svg">
                                </div>
                                <div class="rating">
                                    <i class="icon-star"></i>
                                    <i class="icon-star"></i>
                                    <i class="icon-star"></i>
                                    <i class="icon-star"></i>
                                    <i class="icon-star"></i>
                                </div>
                                <p class="text">
                                    "Koxari is the epitome of elegance and quality. I ordered a sweater for ₹7,500, and it exceeded all my expectations. 
                                    The craftsmanship is impeccable, and it arrived perfectly packed. A truly luxurious experience!"
                                </p>
                                <div class="author box-author">
                                    <div class="box-img d-md-none rounded-0">
                                        <img class="lazyload img-product" data-src="images/item/tets1.jpg" src="images/item/tets1.jpg" alt="image-product">
                                    </div>
                                    <div class="content">
                                        <div class="name">Aarav Sharma</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonial-item lg lg-2">
                                <h4 class="mb_40">Our Customer’s Reviews</h4>
                                <div class="icon">
                                    <img class="lazyload" data-src="images/item/quote.svg" alt="" src="images/item/quote.svg">
                                </div>
                                <div class="rating">
                                    <i class="icon-star"></i>
                                    <i class="icon-star"></i>
                                    <i class="icon-star"></i>
                                    <i class="icon-star"></i>
                                    <i class="icon-star"></i>
                                </div>
                                <p class="text">
                                    "I purchased a cardigan from Koxari for ₹10,000, and I’m amazed by the quality and attention to detail. 
                                    It feels luxurious and makes me stand out. The packaging and service were also exceptional!"
                                </p>
                                <div class="author box-author">
                                    <div class="box-img d-md-none rounded-0">
                                        <img class="lazyload img-product" data-src="images/item/tets2.jpg" src="images/item/tets2.jpg" alt="image-product">
                                    </div>
                                    <div class="content">
                                        <div class="name">Priya Mehta</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonial-item lg lg-2">
                                <h4 class="mb_40">Our Customer’s Reviews</h4>
                                <div class="icon">
                                    <img class="lazyload" data-src="images/item/quote.svg" alt="" src="images/item/quote.svg">
                                </div>
                                <div class="rating">
                                    <i class="icon-star"></i>
                                    <i class="icon-star"></i>
                                    <i class="icon-star"></i>
                                    <i class="icon-star"></i>
                                    <i class="icon-star"></i>
                                </div>
                                <p class="text">
                                    "Koxari has redefined luxury for me. I bought a item, and the fabric is so soft and rich. 
                                    I’ve never felt more elegant wearing something. Totally worth every rupee!"
                                </p>
                                <div class="author box-author">
                                    <div class="box-img d-md-none rounded-0">
                                        <img class="lazyload img-product" data-src="images/item/tets3.jpg" src="images/item/tets3.jpg" alt="image-product">
                                    </div>
                                    <div class="content">
                                        <div class="name">Ritika Patel</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="d-md-flex d-none box-sw-navigation">
                    <div class="nav-sw nav-next-slider nav-next-tes-2"><span class="icon icon-arrow-left"></span></div>
                    <div class="nav-sw nav-prev-slider nav-prev-tes-2"><span class="icon icon-arrow-right"></span></div>
                </div>
                <div class="d-md-none sw-dots style-2 sw-pagination-tes-2"></div>
            </div>
            <div class="box-right">
                <div dir="ltr" class="swiper tf-thumb-tes" data-preview="1" data-space="30">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="img-sw-thumb">
                                <img class="lazyload img-product" data-src="{% static 'look12.png' %}" 
                                src="{% static 'look12.png' %}" alt="image-product" style="border-radius: 20px;">
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Testimonial -->

<!-- Shop Gram -->
<section class="flat-spacing-1">
    <div class="container">
        <div class="flat-title">
            <span class="title">Wear Koxari  #Instagram</span>
            <p class="sub-title">
              
                 Let our timeless elegance and modern sophistication inspire your next look. 
                 <br>
                 Join the conversation and share your style with #KoxariLegacy.
            </p>
        </div>
        <div class="wrap-shop-gram">
            <div dir="ltr" class="swiper tf-sw-shop-gallery" data-preview="5" data-tablet="3" data-mobile="2" data-space-lg="7" data-space-md="7">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="gallery-item hover-img">
                        <div class="img-style">
                            <img class="lazyload img-hover" data-src="{% static 'kl/2.png' %}" 
                            src="{% static 'kl/2.png' %}" alt="image-gallery">
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="gallery-item hover-img">
                        <div class="img-style">
                            <img class="lazyload img-hover" data-src="{% static 'kl/3.png' %}" 
                            src="{% static 'kl/3.png' %}" alt="image-gallery">
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="gallery-item hover-img">
                        <div class="img-style">
                            <img class="lazyload img-hover" data-src="{% static 'kl/4.png' %}" 
                            src="{% static 'kl/4.png' %}" alt="image-gallery">
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="gallery-item hover-img">
                        <div class="img-style">
                            <img class="lazyload img-hover" data-src="{% static 'kl/5.png' %}" 
                            src="{% static 'kl/5.png' %}" alt="image-gallery">
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="gallery-item hover-img">
                        <div class="img-style">
                            <img class="lazyload img-hover" data-src="{% static 'kl/6.png' %}" 
                            src="{% static 'kl/6.png' %}" alt="image-gallery">
                        </div>
                    </div>
                </div>

               
            </div>
            </div>
            <div class="sw-dots sw-pagination-gallery justify-content-center"></div>
        </div>
    </div>
</section>
<!-- /Shop Gram -->
{% endblock body %}
    


{% block js %}
    
{% endblock js %}