{% extends 'base.html' %}
{% load static %}

{% block header %}

{% endblock header %}

{% block css %}
    
{% endblock css %}
    


{% block body %}
    <!-- page-title -->
    <div class="tf-page-title style-2">
        <div class="container-full">
            <div class="heading text-center">Contact Us</div>
        </div>
    </div>
    <!-- /page-title -->
    <!-- map -->
    <section class="flat-spacing-9">
        <div class="container">
            <div class="tf-grid-layout gap-0 lg-col-2">
                <div class="w-100">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3540.388513353248!2d94.92247727592792!3d27.45716157632688!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3740a283569c2967%3A0xf5b9f93c7a6793c3!2s4%2C%20Niz%20Mancotta%20Rd%2C%20Dibrugarh%2C%20Assam%20786003!5e0!3m2!1sen!2sin!4v1737845358255!5m2!1sen!2sin" width="100%" height="594" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="tf-content-left has-mt">
                    <div class="sticky-top">
                        <h5 class="mb_20">Visit Our Store</h5>
                        <div class="mb_20">
                            <p class="mb_15"><strong>Address</strong></p>
                            <p>Lane 4, Niz Mancotta, Dibrugarh, Assam: 786003</p>
                        </div>
                        <div class="mb_20">
                            <p class="mb_15"><strong>Phone</strong></p>
                            <p>(623) 934-2400</p>
                        </div>
                        <div class="mb_20">
                            <p class="mb_15"><strong>Email</strong></p>
                            <p>contact@koxari.com</p>
                        </div>
                        <div class="mb_36">
                            <p class="mb_15"><strong>Wear Koxari Timings</strong></p>
                            <p class="mb_15">24*7 </p>
                            <p>Exchanges: Mon-Fri 11am  to 7pm</p>
                        </div>
                        <div>
                            <ul class="tf-social-icon d-flex gap-20 style-default">
                                <li><a href="#" class="box-icon link round social-facebook border-line-black"><i class="icon fs-14 icon-fb"></i></a></li>
                                <li><a href="#" class="box-icon link round social-instagram border-line-black"><i class="icon fs-14 icon-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /map -->
    <!-- form -->
    <section class="bg_grey-7 flat-spacing-9">
        <div class="container">
            <div class="flat-title">
                <span class="title">Get in Touch</span>
                <p class="sub-title text_black-2">If you’ve got great products your making or looking to work with us then drop us a line.</p>
            </div>
            <div>
                <form class="mw-705 mx-auto text-center form-contact" id="contactform" action="./contact/contact-process.php" method="post">
                    <div class="d-flex gap-15 mb_15">
                        <fieldset class="w-100">
                            <input type="text" name="name" id="name" required placeholder="Name *"/>
                        </fieldset>
                        <fieldset class="w-100">
                            <input type="email" name="email" id="email" required placeholder="Email *"/>
                        </fieldset>
                    </div>
                    <div class="mb_15">
                        <textarea placeholder="Message" name="message" id="message" required cols="30" rows="10"></textarea>
                    </div>
                    <div class="send-wrap">
                        <button type="submit" class="tf-btn radius-3 btn-fill animate-hover-btn justify-content-center">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- /form -->
{% endblock body %}
    


{% block js %}
    
{% endblock js %}