<!-- announcement-bar -->
<div class="announcement-bar bg_dark">
    <div class="wrap-announcement-bar">
        <div class="box-sw-announcement-bar">
            <div class="announcement-bar-item">
                <p>FREE SHIPPING ON ALL ORDERS</p>
            </div>
            <div class="announcement-bar-item">
                <p>LIMITED EDITION COLLECTIONS: OWN A PIECE OF LUXURY</p>
            </div>
            <div class="announcement-bar-item">
                <p>EXPERIENCE TIMELESS ELEGANCE: SHOP NOW</p>
            </div> 
            <div class="announcement-bar-item">
                <p>FREE SHIPPING ON ALL ORDERS</p>
            </div>
            <div class="announcement-bar-item">
                <p>LIMITED EDITION COLLECTIONS: OWN A PIECE OF LUXURY</p>
            </div>
            <div class="announcement-bar-item">
                <p>EXPERIENCE TIMELESS ELEGANCE: SHOP NOW</p>
            </div> 
            <div class="announcement-bar-item">
                <p>FREE SHIPPING ON ALL ORDERS</p>
            </div>
            <div class="announcement-bar-item">
                <p>LIMITED EDITION COLLECTIONS: OWN A PIECE OF LUXURY</p>
            </div>
            <div class="announcement-bar-item">
                <p>EXPERIENCE TIMELESS ELEGANCE: SHOP NOW</p>
            </div> 
            <div class="announcement-bar-item">
                <p>FREE SHIPPING ON ALL ORDERS</p>
            </div>
            <div class="announcement-bar-item">
                <p>LIMITED EDITION COLLECTIONS: OWN A PIECE OF LUXURY</p>
            </div>
            <div class="announcement-bar-item">
                <p>EXPERIENCE TIMELESS ELEGANCE: SHOP NOW</p>
            </div> 
            <div class="announcement-bar-item">
                <p>FREE SHIPPING ON ALL ORDERS</p>
            </div>
            <div class="announcement-bar-item">
                <p>LIMITED EDITION COLLECTIONS: OWN A PIECE OF LUXURY</p>
            </div>
            <div class="announcement-bar-item">
                <p>EXPERIENCE TIMELESS ELEGANCE: SHOP NOW</p>
            </div>   
        </div>
    </div>
    <span class="icon-close close-announcement-bar"></span>
</div>   
<!-- /announcement-bar -->
